Transmission-RPC-to-2x16.json
[{"id":"ed059de2.24d6f","type":"http request","z":"2c0bdba0.bbb954","name":"transmission rpc","method":"POST","ret":"obj","url":"http://localhost:9091/transmission/rpc","tls":"","x":537,"y":302,"wires":[["47b57581.f9756c"]]},{"id":"a6c7cb02.a90ac8","type":"function","z":"2c0bdba0.bbb954","name":"session-stats","func":"msg.headers = {\n    \"Content-type\": \"application/json\",\n    \"Authorization\": \"Basic eWVudHN1bjo4d3VoVlE2N1E5akpMdE5Y\",\n    \"x-transmission-session-id\": \"Z7pTqobE7TuEJVwM3xM5fZshErHA8wPV1afNUVaD3eriiJWP\"\n     }\nmsg.payload = {\n    \"method\": \"session-stats\",\n    \"tag\": 123456\n}\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":169,"wires":[["ed059de2.24d6f"]]},{"id":"bc63097f.236538","type":"inject","z":"2c0bdba0.bbb954","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":151,"y":45,"wires":[["a6c7cb02.a90ac8"]]},{"id":"47b57581.f9756c","type":"function","z":"2c0bdba0.bbb954","name":"parse speeds","func":"function humanFileSize(bytes, si=true) {\n    var thresh = si ? 1000 : 1024;\n    if(Math.abs(bytes) < thresh) {\n        return bytes + ' B';\n    }\n    var units = si ? ['kB','MB','GB','TB','PB','EB','ZB','YB'] :\n                     ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];\n    var u = -1;\n    do {\n        bytes /= thresh;\n        ++u;\n    } while(Math.abs(bytes) >= thresh && u < units.length - 1);\n    return bytes.toFixed(1)+' '+units[u];\n}\n\nconst up = humanFileSize(msg.payload.arguments.uploadSpeed);\nconst down = humanFileSize(msg.payload.arguments.downloadSpeed);\nreturn {payload: {up, down}};","outputs":"1","noerr":0,"x":695,"y":427,"wires":[["b7573549.515578"]]},{"id":"b7573549.515578","type":"johnny5","z":"2c0bdba0.bbb954","name":"2x16 LCD","func":"const lcd = new five.LCD({controller: \"PCF8574A\"});\nnode.on('input', ({payload: {up, down}}) => {\n    lcd\n    .clear()\n    .cursor(0, 0).print('>> '+up+'/s')\n    .cursor(1, 0).print('<< '+down+'/s')\n    .cursor(1, 17)\n});","board":"47d53e81.0b876","noerr":0,"x":832,"y":570,"wires":[[]]},{"id":"47d53e81.0b876","type":"nodebot","z":"","name":"NanoPi","username":"","password":"","boardType":"firmata","serialportName":"","connectionType":"tcp","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"192.168.0.107","tcpPort":"3030","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""}]
